/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
html{
	
}

.body{

}



div#TopLevelFrame{
	background: url("http://www.fotos-hochladen.net/uploads/simplewallpapekmc9angpuo.jpg");
	background-repeat: no repeat;
	background-size: 140%;
	
	
}


}
/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
  background-color: #322323;

}

.tngly-menubutton {
	background: url("http://www.transparenttextures.com/patterns/asfalt-light.png");
	background-size: 100%;
	font-size: 14px;
	font-weight: bold;
	width: 10em;
	height: 2em;
	margin-bottom: 0em;
	border:0px;
	color: #efefef;
}

div#Header {
	height: 200px;
}

div#Details {
	margin-left: 10em;
	margin-right: 10em;
	min-height: 400px;
	max-height: 1500px;
	padding: 1em 1em;
	border-top: 2px blue;
	border-left: 2px blue;
	background-color: #ffffff;
	opacity: 0.9;
	
}


div#Navigator {
	margin-left: 10em;
	width: 1000px;
	height: 30px;
	padding: 1em 1em;
	background-color: #38373e;
}

.tngly-headline {
	font-size: 12pt;
	font-weight: bold;
	color: #38373e;
	margin: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;

}

div#Trailer {
	clear: both;
	padding: 15px 0;
	margin: 0 auto; 
	border-top: 1px dashed silver;
	font-size: 80%;
	color: #ffffff;
	text-align: center;
	
}


.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.label-Profile-Teaser-bold{
   font-weight: bold;
}

.label-Profile-Teaser-regular{
   font-weight: normal;
}

