/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
html{
	
}

.body{

}



div#TopLevelFrame{
	background-color: lightblue;
	background-repeat: no repeat;
	background-size: 140%;
}


}
/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
  background-color: #322323;

}

.Table-Wishlist{
	border-bottom: 1px dotted black; 
}

.username-Example{
	color: #a8a8a8;
}

.tngly-navigation {
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

.tngly-button{
	background-color: #38373e;
	color: #ffffff;
	border:0px;
	font-weight: bold;
	height: 2em;
	width: 10em;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}

.tngly-bluebutton{
	background-color: #0080ff;
	color: #ffffff;
	border:0px;
	font-weight: bold;
	height: 2em;
	width: 10em;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}

.tngly-button-searchview{
	background-color: #38373e;
	color: #ffffff;
	border:0px;
	font-weight: bold;
	height: 3em;
	width: 10em;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}

.tngly-menubutton {
background-color: #808080;
	color: #ffffff;
	border:0px;
	font-weight: bold;
	height: 3em;
	width: 10em;
	margin-left:10px;
	margin-top:4px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}

.tngly-buttonpanel {
	margin-top: 0px;
	margin-bottom: 5px;
	border-bottom: 1px;
	width: "100%";
}

.tngly-linepanel {
	margin-bottom: 5px;
	border: 5px;
	color: #7f7f7f;
	width: "100%";
	height: 5px
}

.tngly-opvtable {
	margin-top: 3px;
	margin-bottom: 3px;
	border: 1px black;
	border-bottom: 1px;
}


.tngly-opvbutton {
background-color: #0080ff;
	color: #ffffff;
	border:0px;
	font-weight: bold;
	height: 2em;
	width: 10em;
	margin-left:10px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}

.tngly-ctvbutton {
background-color: #0080ff;
	color: #ffffff;
	border:0px;
	font-weight: bold;
	height: 2em;
	width: 14em;
	margin-left:10px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}

.tngly-disabledButton {
background-color: #f4f4f4;
	color: #ffffff;
	border: none;
	font-weight: normal;
	height: 2em;
	width: 10em;
	margin-left:10px;
	margin-top:4px;
}

.tngly-backbutton {
background-color: #38373e;
	color: #ffffff;
	border:0px;
	font-weight: bold;
	height: 2em;
	width: 10em;
	margin-left:0px;
	margin-top:4px;
	margin-right:20px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}

.tngly-submenubutton{
	font-size: 10px;
	background-color: #c0c0c0;
	color: #ffffff;
	border:0px;
	font-weight: bold;
	height: 2em;
	width: 10em;
	margin-left:10px;
	margin-top:4px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}


.tngly-submenubuttonblack{
	font-size: 10px;
	background-color: #515151;
	color: #ffffff;
	border:0px;
	font-weight: bold;
	height: 2em;
	width: 10em;
	margin-left:10px;
	margin-top:4px;
	
}

.tngly-Profilebutton {
	background-color: #535353;
	color: #ffffff;
	border:0px;
	font-weight: bold;
	height: 3em;
	width: 10em;
	margin-left:10px;
	margin-top:4px;
}
.tngly-EditProfileButton {
	background-color: #535353;
	color: #ffffff;
	border:0px;
	font-weight: bold;
	height: 3em;
	width: 10em;
	margin-left:10px;
	margin-top:4px;
}

.tngly-WishlistButton {
	background-color: #da714e;
	color: #ffffff;
	border:0px;
	font-weight: bold;
	height: 3em;
	width: 10em;
	margin-left:10px;
	margin-top:4px;
}

.tngly-searchProfilButton {
	background-color: #da714e;
	color: #ffffff;
	border:0px;
	font-weight: bold;
	height: 3em;
	width: 10em;
	margin-left:10px;
	margin-top:4px;
}

.tngly-signoutButton {
	background-color: #38373e;
	color: #ffffff;
	border:0px;
	font-weight: bold;
	height: 3em;
	width: 10em;
	margin-left:89em;
}

div#Header {
	height: 200px;
	text-align: center;
}

div#Details {
	margin-left: 22em;
	margin-right: 10em;
	min-height: 400px;
	max-height: 1500px;
	padding: 1em 1em;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black; 
	border-color: #38373e;
	background-color: #ffffff;
	opacity: 0.9;
	color: #38373e;
	font-weight: bold;
}


div#Navigator {
	margin-left: 10em;
	width: 50px;
	height: 30px;
	padding: 1em 1em;
}

.tngly-headline {
	font-size: 12pt;
	font-weight: bold;
	color: #38373e;
	margin: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;

}

div#Trailer {
	clear: both;
	/*padding: 0;*/
	border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
/*	position: relative;
    bottom: 0;
    width: 100%; */
}


 .textbox { 
    background: white; 
    border: 1px solid #ffa853; 
    border-radius: 5px; 
    box-shadow: 0 0 5px 3px #ffa853; 
    color: #666; 
    outline: none; 
    height:23px; 
    width: 275px; 
  } 
 
.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.label-Profile-Teaser-bold{
   font-weight: bold;
}

.label-Profile-Teaser-regular{
   font-weight: normal;
}

.profile-Visited-Button{
   color: blue;
   background-color: transparent;
   border: 0px;
}

.favorite-Button{
   color: green;
   background-color: transparent;
   border: 0px;
}

.cssload-loader{
	position: relative;
	width: 146px;
	height: 19px;
	left: 25%;
	left: calc(50% - 73px);
		left: -o-calc(50% - 73px);
		left: -ms-calc(50% - 73px);
		left: -webkit-calc(50% - 73px);
		left: -moz-calc(50% - 73px);
}

.cssload-loader:after{
	content: "Loading";
	text-transform:uppercase;
	color: rgb(0,0,0);
	font-family:	Lato,"Helvetica Neue" ;
	font-weight: 200;
	font-size: 16px;
	position: absolute;
	width: 100%;
	height: 19px;
	line-height: 19px;
	left: 0;
	top: 0;
	background-color: rgb(231,76,60);
	z-index: 1;
}

.cssload-loader:before{
	content: "";
	position: absolute;
	background-color: rgb(0,0,0);
	top: -5px;
	left: 0px;
	height: 29px;
	width: 0px;
	z-index: 0;
	opacity: 1;
	transform-origin:	100% 0%;
		-o-transform-origin:	100% 0%;
		-ms-transform-origin:	100% 0%;
		-webkit-transform-origin:	100% 0%;
		-moz-transform-origin:	100% 0%;
	animation: cssload-loader 11.5s ease-in-out infinite;
		-o-animation: cssload-loader 11.5s ease-in-out infinite;
		-ms-animation: cssload-loader 11.5s ease-in-out infinite;
		-webkit-animation: cssload-loader 11.5s ease-in-out infinite;
		-moz-animation: cssload-loader 11.5s ease-in-out infinite;
}






@keyframes cssload-loader{
		0%{width: 0px;}
		70%{width: 100%; opacity: 1;}
		90%{opacity: 0; width: 100%;}
		100%{opacity: 0;width: 0px;}
}

@-o-keyframes cssload-loader{
		0%{width: 0px;}
		70%{width: 100%; opacity: 1;}
		90%{opacity: 0; width: 100%;}
		100%{opacity: 0;width: 0px;}
}

@-ms-keyframes cssload-loader{
		0%{width: 0px;}
		70%{width: 100%; opacity: 1;}
		90%{opacity: 0; width: 100%;}
		100%{opacity: 0;width: 0px;}
}

@-webkit-keyframes cssload-loader{
		0%{width: 0px;}
		70%{width: 100%; opacity: 1;}
		90%{opacity: 0; width: 100%;}
		100%{opacity: 0;width: 0px;}
}

@-moz-keyframes cssload-loader{
		0%{width: 0px;}
		70%{width: 100%; opacity: 1;}
		90%{opacity: 0; width: 100%;}
		100%{opacity: 0;width: 0px;}
} 
