/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
html{
	
}

.body{

}



div#TopLevelFrame{
	background: #97dfb7; /* For browsers that do not support gradients */
  	background: -webkit-linear-gradient(#97dfb7, #d7f2e3); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#97dfb7, #d7f2e3); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#97dfb7, #d7f2e3); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#97dfb7, #d7f2e3); /* Standard syntax */
}

#reporttable {
  /*width: 200px;*/
  border: solid 2px gray; 
  border-radius: 6px;
  border-collapse: collapse;
}

#spalten:hover {
	background-color: #f5f5f5
}

#spalten:nth-child(even) {
	background-color: #f2f2f2
}

#profile {
	height: 15px;
    padding: 5px;
    text-align: center;
    background-color: #97dfb7;
    color: white;
}

#spalten {
	/*border:1px solid silver;*/  
}

#zelle {
	height: 15px;
    vertical-align: middle;
    padding: 5px;
    text-align: center;
}

}
/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
  background-color: #322323;

}

.Table-Wishlist{
	border-bottom: 1px dotted black; 
}

.username-Example{
	color: #a8a8a8;

}

.tngly-button{
	background-color: #38373e;
	color: #ffffff;
	border:0px;
	font-weight: bold;
	height: 2em;
	width: 10em;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}

.tngly-bluebutton{
	background-color: #0080ff;
	color: #ffffff;
	border:0px;
	font-weight: bold;
	height: 2em;
	width: 10em;
	/*margin-left: 70px;*/
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}

.tngly-backbutton {
background-color: #38373e;
	color: #ffffff;
	border:0px;
	font-weight: bold;
	height: 2em;
	width: 10em;
	margin-left:0px;
	margin-right:20px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}

.rootpanel-totheleft	{
	position: relative;
	left: -140px;
}

.rootpanel-totheleft	{
	position: relative;
	right: 140px;
}

.tngly-disabledButton {
background-color: #f4f4f4;
	color: #ffffff;
	border: none;
	font-weight: normal;
	height: 2em;
	width: 10em;
	margin-left:10px;
	margin-top:4px;
}

.tngly-button-searchview{
	background-color: #38373e;
	color: #ffffff;
	border:0px;
	font-weight: bold;
	height: 3em;
	width: 10em;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}

.tngly-menubutton {
	background-color: #808080;
	color: #ffffff;
	border:0px;
	font-weight: bold;
	height: 3em;
	width: 10em;
	margin-left:10px;
	margin-top:4px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}

.tngly-menubutton:hover {
	background-color: #0080ff;
}

.tngly-menubutton-signout {
	background-color: #808080;
	color: #ffffff;
	border:0px;
	font-weight: bold;
	height: 3em;
	width: 10em;
	margin-left:10px;
	/*margin-top:20px;*/
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}

.tngly-menubutton-signout:hover {
	background-color: #0080ff;
}

.tngly-menubutton-active {
    background-color: #0080ff;
    color: white;
	border:0px;
	font-weight: bold;
	height: 3em;
	width: 10em;
	margin-left:10px;
	margin-top:4px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}

.tngly-submenubutton{
	font-size: 10px;
	background-color: #c0c0c0;
	color: #ffffff;
	border:0px;
	font-weight: bold;
	height: 2em;
	width: 13em;
	margin-left:10px;
	margin-top:4px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}


.tngly-submenubutton:hover {
	background-color: #0080ff;
}

.tngly-submenubutton-active {
    background-color: #0080ff;
    color: white;
    border:0px;
    font-size: 10px;
	font-weight: bold;
	height: 2em;
	width: 13em;
	margin-left:10px;
	margin-top:4px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}


.tngly-submenubuttonblack{
	font-size: 10px;
	background-color: #515151;
	color: #ffffff;
	border:0px;
	font-weight: bold;
	height: 2em;
	width: 10em;
	margin-left:10px;
	margin-top:4px;
	
}

.tngly-Profilebutton {
	background-color: #535353;
	color: #ffffff;
	border:0px;
	font-weight: bold;
	height: 3em;
	width: 10em;
	margin-left:10px;
	margin-top:4px;
}
.tngly-EditProfileButton {
	background-color: #535353;
	color: #ffffff;
	border:0px;
	font-weight: bold;
	height: 3em;
	width: 10em;
	margin-left:10px;
	margin-top:4px;
}

.tngly-WishlistButton {
	background-color: #da714e;
	color: #ffffff;
	border:0px;
	font-weight: bold;
	height: 3em;
	width: 10em;
	margin-left:10px;
	margin-top:4px;
}

.tngly-searchProfilButton {
	background-color: #da714e;
	color: #ffffff;
	border:0px;
	font-weight: bold;
	height: 3em;
	width: 10em;
	margin-left:10px;
	margin-top:4px;
}

.tngly-signoutButton {
	background-color: #38373e;
	color: #ffffff;
	border:0px;
	font-weight: bold;
	height: 3em;
	width: 10em;
	margin-right:10em;
}

.tngly-header {
	color: #ffffff;
	font-weight: bold;
	font-size: 150px;
	opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

div#Header {
	height: 100px;
	color: #ffffff;
	text-align: center;
	font-weight: bold;
	font-size: 150px;
	opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

div#Details {
	margin-left: 22em;
	margin-right: 10em;
	min-height: 400px;
	max-height: 1500px;
	padding: 1em 1em;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black; 
	border-color: #38373e;
	background-color: #ffffff;
	opacity: 0.9;
	color: #38373e;
	font-weight: bold;
	
}


div#Navigator {
	margin-left: 10em;
	width: 50px;
	height: 30px;
	padding: 1em 1em;
	
}

.tngly-headline {
	font-size: 12pt;
	font-weight: bold;
	color: #38373e;
	margin: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;

}

div#Trailer {
	clear: both;
	/*padding: 15px 0;*/
	margin: 0 auto; 
	border-top: 1px dashed silver;
	font-size: 80%;
	color: #ffffff;
	text-align: center;
	
}

 .textbox { 
    background: white; 
    border: 1px solid #ffa853; 
    border-radius: 5px; 
    box-shadow: 0 0 5px 3px #ffa853; 
    color: #666; 
    outline: none; 
    height:23px; 
    width: 275px; 
  } 
 
.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.label-Profile-Teaser-bold{
   font-weight: bold;
}

.label-Profile-Teaser-regular{
   font-weight: normal;
}


