/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
html{
	background: url("http://fs5.directupload.net/images/160420/ruc73jsz.jpg");
}

.body{
	weight: 200px;
}

div#Header {
	margin-top: 170px;    
	 
	
}

}
/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;

}


.tngly-menubutton {
	font-size: 100%;
	font-weight: bold;
	width: 15em;
	margin-bottom: 0em;
}

div#Details {
	margin-left: 25em;
	min-height: 400px;
	max-height: 500px;
	padding: 1em 1em;
	border-top: 1px;
	border-left: 1px;
	
}

div#Navigator {
	margin-left: 25em;
	width: 780px;
	min-height: 10px;
	padding: 1em 3em;
}

.tngly-headline {
	font-size: 12pt;
	font-weight: bold;
	color: #0080c0;
	margin: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;

}

div#Trailer {
	clear: both;
	padding: 15px 0;
	margin: 0 auto; 
	border-top: 1px dashed silver;
	font-size: 80%;
	text-align: center;
}

}

.dialogVPanel {
  margin: 5px;
  width: 350px;
  height: 250px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
